<div *ngFor="let user of users" class="col-sm-6 col-md-4">
  <div class="thumbnail">
    <img
      src="https://scientificposterprinting.com/image/cache/catalog/sego/seattle-200x200.jpg"
      alt="Placeholder"
      />
      <div class="caption">
          <h3>Thumbnail label</h3>
          <input type="text" class="form-control" #input>
          <ng-content></ng-content>          
        <p>{{ user }}</p>
      <p>
        <a href="#" (click)="onButtonClicked($event)" class="btn btn-primary" role="button">{{ user }}</a>
        <!-- <a href="#" (click)="textEntered()" class="btn btn-danger" role="button">Input Text</a> -->
        <a href="#" (click)="textEntered()" class="btn btn-danger" role="button">Input Text</a>
      </p>
    </div>
  </div>
</div>
