<button class="btn btn-primary" (click)="onClick()">Click Me!</button>
<!-- <p *ngIf="hasVisitor; else elsecond">We have Visitors</p>
<ng-template #elsecond>We have no Visitors</ng-template> -->
<app-user *ngFor="let user of users"></app-user>
